html { color: #ffffff; font-family: Spectral; font-size: 20px }
h1 { font-size: 2em; font-weight: bold }
b { font-weight: bold; color: #ffcc00 }
em { font-style: italic }
kbd { font-family: monospace; color: #88ccff }
